<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>

<th:block layout:fragment="customContents">

	<!--main content start-->
	<section id="main-content">
	  <section class="wrapper">
	    <div class="row">
	
	
					index 화면입니다.
	
	
	    </div>
	    <!-- /row -->
	  </section>
	</section>
	<!--main content end-->

</th:block>
</html>