<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <th:block layout:fragment="customHead">
    <meta charset="UTF-8">
  </th:block>
  <body th:fragment="mainBody">
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="/" class="logo"><b>축제통합관리시스템<span>(FIMS)</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-tasks"></i>
              <span class="badge bg-theme">#4</span>
              </a>
            <ul class="dropdown-menu extended tasks-bar">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 4 pending tasks</p>
              </li>
              <li>
                <a href="#">
                  <div class="task-info">
                    <div class="desc">Dashio Admin Panel</div>
                    <div class="percent">40%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="task-info">
                    <div class="desc">Database Update</div>
                    <div class="percent">60%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="sr-only">60% Complete (warning)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="task-info">
                    <div class="desc">Product Development</div>
                    <div class="percent">80%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="task-info">
                    <div class="desc">Payments Sent</div>
                    <div class="percent">70%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                      <span class="sr-only">70% Complete (Important)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="external">
                <a href="#">#See All Tasks</a>
              </li>
            </ul>
          </li>
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme">#5</span>
              </a>
            <ul class="dropdown-menu extended inbox">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 5 new messages</p>
              </li>
              <li>
                <a href="#">
                  <span class="photo"><img alt="avatar" src="img/ui-zac.jpg"></span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
              </li>
              <li>
                <a href="#">
                  <span class="photo"><img alt="avatar" src="img/ui-divya.jpg"></span>
                  <span class="subject">
                  <span class="from">Divya Manian</span>
                  <span class="time">40 mins.</span>
                  </span>
                  <span class="message">
                  Hi, I need your help with this.
                  </span>
                  </a>
              </li>
              <li>
                <a href="#">
                  <span class="photo"><img alt="avatar" src="img/ui-danro.jpg"></span>
                  <span class="subject">
                  <span class="from">Dan Rogers</span>
                  <span class="time">2 hrs.</span>
                  </span>
                  <span class="message">
                  Love your new Dashboard.
                  </span>
                  </a>
              </li>
              <li>
                <a href="#">
                  <span class="photo"><img alt="avatar" src="img/ui-sherman.jpg"></span>
                  <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                  <span class="message">
                  Please, answer asap.
                  </span>
                  </a>
              </li>
              <li>
                <a href="#">#See all messages</a>
              </li>
            </ul>
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">#7</span>
              </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have 7 new notifications</p>
              </li>
              <li>
                <a href="#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              <li>
                <a href="#">
                  <span class="label label-warning"><i class="fa fa-bell"></i></span>
                  Memory #2 Not Responding.
                  <span class="small italic">30 mins.</span>
                  </a>
              </li>
              <li>
                <a href="#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Disk Space Reached 85%.
                  <span class="small italic">2 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="#">
                  <span class="label label-success"><i class="fa fa-plus"></i></span>
                  New User Registered.
                  <span class="small italic">3 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="#">#See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#">#Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">#SamSoffes</h5>
          <li class="mt">
            <a class="active" href="#">
              <i class="fa fa-dashboard"></i>
              <span>#Dashboard</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>#운영관리</span>
              </a>
            <ul class="sub">
              <li><a href="/oprate_systemmanage/SystemManageView">#시스템 사용 대상 등록</a></li>
              <li><a href="#">#시스템 사용 등록 현황</a></li>
              <li><a href="#">#시스템 사용 신청서 관리</a></li>
              <li><a href="#">#온라인 시설코드발급</a></li>
              <li><a href="#">#온라인 시설코드발급 현황</a></li>
              <li><a href="#">#온라인 시설코드 로그인 관리</a></li>
              <li><a href="#">#온라인 계정 등록</a></li>
              <li><a href="#">#온라인 계정 등록현황</a></li>
              <li><a href="#">#온라인 계정 로그인 관리</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>#행정기관관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#공통 코드 관리</a></li>
              <li><a href="#">#전국 지역 관리</a></li>
              <li><a href="#">#전국 지역별 시군 관리</a></li>
              <li><a href="#">#행정기관 등록</a></li>
              <li><a href="#">#행정기관 등록 현황</a></li>
              <li><a href="#">#행정기관 부서별 직원 등록</a></li>
              <li><a href="#">#행정기관 부서별 직원 등록 현황</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>#회원관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#신규 사용자 계정생성 및 권한 등록</a></li>
              <li><a href="#">#모든 회원 관리</a></li>
              <li><a href="#">#거래처 회원 관리</a></li>
              <li><a href="#">#위원회 회원 관리</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>#공무원관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#업무현황</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>#거래처 관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#업무현황</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#위원회관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#업무현황</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>#축제관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">지역별 축제 관리</a></li>
              <li><a href="#">축제별 입장료 관리</a></li>
            </ul>
          </li>
           <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#축제인적관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/work/workingpeopleList}">#축제업무별배치인원리스트</a></li>
              <li><a th:href="@{/work/workcategoryList}">#축제업무분류리스트</a></li>
              <li><a th:href="@{/work/workcategoryInsert}">#축제업무분류등록</a></li>
              <li><a th:href="@{/work/workdivisionList}">#축제업무리스트</a></li>
              <li><a th:href="@{/work/workdivisionInsert}">#축제업무등록</a></li>
              <li><a th:href="@{/human/humanList}">#축제인적리스트</a></li>
              <li><a th:href="@{/human/humanInsert}">#축제인적등록</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#축제홍보관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
            </ul>
          </li>
           <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#축제시설관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/facility/classificationList}">#모든시설분류조회</a></li>
              <li><a th:href="@{/facility/classificationInsert}">#모든시설분류등록</a></li>            
              <li><a th:href="@{/facility/facilityList}">#보유시설리스트</a></li>
              <li><a th:href="@{/facility/facilityInsert}">#보유시설등록</a></li>
              <li><a th:href="@{/facility/temporaryList}">#임시시설설치및철거리스트</a></li>
              <li><a th:href="@{/facility/temporaryInsert}">#임시시설설치및철거등록</a></li>
              <li><a th:href="@{/facility/maintenanceList}">#시설안전점검유지보수리스트</a></li>
              <li><a th:href="@{/facility/maintenanceInsert}">#시설안전점검유지보수등록</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#축제예산관리</span>
              </a>
            <ul class="sub">
              <li><a href="/festival_budget/revenueBudgetView">#세입예산관리</a></li>
              <li><a href="/festival_budget/expenditureBudgetView">#세출예산관리</a></li>
              <li><a href="/festival_budget/revenueExecutionView">#세입집행관리</a></li>
              <li><a href="/festival_budget/expenditureExecutionView">#세출집행관리</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#축제계약관리</span>
              </a>
            <ul class="sub">
              <li><a href="/festival_contract/privateContractView">#수의계약관리</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#축제모든물품관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#축제내프로그램관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#게시판관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#공지사항</a></li>
              <li><a href="#">#자료실</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#일정관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#평가관리</span>
              </a>
            <ul class="sub">
              <li><a href="/statistics/festivalBudgetAnalysisView">#축제별 예산액 분석</a></li>
              <li><a href="/statistics/festivalExecutionAnalysisView">#축제별 집행액 분석</a></li>
              <li><a href="/statistics/festivalAnalysisView">#축제분석</a></li>
              <li><a href="/statistics/accountAnalysisView">#거래처분석</a></li>
              <li><a href="/statistics/festivalEvaluationAnalysisView">#축제평가분석</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#통계관리</span>
              </a>
            <ul class="sub">
              <li><a href="#">#축제별 입장료 수량 통계 관리</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#마이페이지</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>#기본설정</span>
              </a>
            <ul class="sub">
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
              <li><a href="#">#</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-map-marker"></i>
              <span>#Google Maps </span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end--> 
    
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
             <th:block layout:fragment="customBody"></th:block> 
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
	<!-- <p>
          &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
        </p> -->
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
          <!-- Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a> -->
        </div>
        <a href="#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
	<th:block layout:fragment="customJquery">
	</th:block>
  </body>
</html>